{# Set  whatever you need, links MUST be absolute to be included in the PDF #}
<div class="container-fluid">
    <div class="row">
        <p class="text-center">
            Phone number: ...
        </p>
    </div>
{# Copyright #}
    <p class="small text-center">
        © 2018 Site - {{ 'label.made_with'| trans({}, 'giftVoucher') }}
    </p>
</div>
