{# Set  whatever you need, links MUST be absolute to be included in the PDF #}
<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">
            Site
        </h1>
    </div>
</div>