{% trans_default_domain 'giftVoucher' %}

<a href="{{ path('giftvoucher_offer', {'slug': giftVoucher.slug, 'id': giftVoucher.id}) }}" title="{{ 'label.offer_as_giftvoucher'|trans }}">
    {{ 'label.offer_as_giftvoucher'|trans }}</a>