{% extends "@c975LGiftVoucher/layout.html.twig" %}
{% trans_default_domain 'giftVoucher' %}
{% set title = 'label.dashboard'|trans({}, 'toolbar') %}

{% block giftVoucher_content %}
{# Toolbar #}
    {{ toolbar_display('@c975LGiftVoucher/tools.html.twig', 'dashboard', 'md') }}
{# Title #}
    <div class="text-center">
{# Purchased #}
        {% if app.request.query.get('v') == null %}
            {{ include('@c975LGiftVoucher/fragments/dashboardPurchased.html.twig') }}
{# Available #}
        {% else %}
            {{ include('@c975LGiftVoucher/fragments/dashboardAvailable.html.twig') }}
        {% endif %}
{# Pagination #}
        <div class="navigation text-center">
            {{ knp_pagination_render(giftVouchers) }}
        </div>
    </div>
{% endblock %}