{% extends "@c975LGiftVoucher/layout.html.twig" %}
{% trans_default_domain 'giftVoucher' %}
{% set title = 'label.gift_vouchers'|trans %}

{% block giftVoucher_content %}
    <div class="row">
{# Explanation #}
        <p class="lead text-center">
            {{ 'text.explanation_giftvouchers'|trans }}
        </p>
    </div>
{# Select GiftVouchers #}
    <div class="row">
        {{ gv_select() }}
    </div>
{# GiftVouchers view all #}
    <div class="row">
        {{ gv_view_all() }}
    </div>
{% endblock %}