{% extends "@c975LGiftVoucher/layout.html.twig" %}
{% trans_default_domain 'giftVoucher' %}
{% set title = 'label.gift_voucher'|trans ~ ' "' ~ giftVoucher.object ~ '" (' ~ giftVoucher.identifier|giftVoucherIdentifier ~ ')' %}

{% block giftVoucher_content %}
    {{ toolbar|raw }}
{# Explanation #}
        <div class="alert alert-danger text-center">
            {{ 'text.giftvoucher_out_of_date'|trans }}
        </div>
{# GiftVoucher #}
    {% include "@c975LGiftVoucher/fragments/giftVoucher.html.twig" %}
{% endblock %}